/Library
/Temp
/Logs
/obj
/UnityEngine.UI.csproj
/UnityEngine.UI.Player.csproj
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp.Player.csproj
/Assembly-CSharp-Editor.csproj
/Unity.InputSystem.csproj
/Unity.InputSystem.ForUI.csproj
/Unity.InputSystem.ForUI.Player.csproj
/Unity.InputSystem.Player.csproj
/Unity.InputSystem.TestFramework.csproj
/Unity.InputSystem.TestFramework.Player.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.Player.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.Player.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityBox2D.sln
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.TestRunner.Player.csproj
/.vs
